


body { 
	background-color: #f7f7f7;
}


h1 {
  color: #323232;
  text-align: center;
}

#navbar {
	position: fixed;
   top: 0px;
   width: 100%
}

.navbar-nav {
	align-content: right;
	align-items: right;
	color : #f7f7f7;
}


/* change the brand and text color */
.navbar-brand{
	font-weight: bold;
    font-color: #ffffff;
    color : white;
}

#nav a {
    color: #ffffff;
}


.rectangle {
  height: 350px;
  width: 920px;
  background-color: #F8E2C3;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
}

.row {
	align-self: center;

}

#nama {
	margin-top: 2%;
	font-weight: bold;
	font-size: 30px;
	color : #603935;
	text-shadow: 1px 0px ;
}

#fotoprofile {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 30%;
}

#penjelasan {
	font-size: 18px
	color : #603935;
	text-shadow: 1px 0px ;

}

p {
	color: #603935;
  font-family: verdana;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#fotogallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#hello {
	text-align: center;
}

#description {
	text-align: center;
}

#logoui {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#year {
	text-align: center;
}

#major {
	text-align: center;
}

#courses {
	text-align: center;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 30px;
  background: #f7f7f7
  transition: 0.3s;
  width: 289px;
  height: 500px;
  text-align: center;
}

.card-title {
	color: #603935;
}


img {
  border-radius: 5px 5px 0 0;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  align-items: stretch | center ;
  justify-content: center ;
}

#top-img {
	width: 200px;
	height: 200px;	
}

#exp {
	justify-content: center;
}

#exp-card {
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 20px;
}

#skill {
	justify-content: center;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 30px;
  background: #f7f7f7
  transition: 0.3s;
  width: 289px;
  height: 289px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
/*  display: table-cell;
    vertical-align: middle */
}

/*#skill-container {
	vertical-align: middle;
}
*/








