<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>My Website</title>


<link rel="stylesheet" href="{% static 'stylestory3.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-grid.css' %}">


</head>
<body>

<div id="navbar">
<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #A88279;">
  <a class="navbar-brand" href="gallery.html">Felicia Honggo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="#brprofile">PROFILE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="#breducation">EDUCATION<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="#brexperience">EXPERIENCE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="#brskills">SKILLS<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="#brcontact">CONTACT<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
</div>
    

<br id="brprofile">
<br>
<br>

<h1 id="profile">Profile</h1>

<br>

<div class="rectangle">
<div class="row">
    <div class="col-4">
    	
      <img id="fotoprofile" src="https://quanta2018.com/Biodata/img/713.png" alt="Foto Saya :)"> 

     </div>
    
    <div class="col">
    <div>
<p id="nama">Felicia Honggo</p>
<p id="penjelasan">Student at University of Indonesia</p>
</div>

<div>
<p id="No HP">Phone : <br>082217659595</p>
<p id="email">Email : <br>feliciahonggo88@gmail.com</p>
<p id="ultah">Date of Birth : <br>25th May, 2000</p>
</div>
</div>
    </div>
</div>

	
<br>
<br>


<p id="hello">Hello ! I'm Felicia!</p>
<p id="description">My name is Felicia Honggo, I'm a 19 years old student who is currently studying in Universitas Indonesia. I love to learn and explore new things and experience. I am a pretty organized, responsible and thoughtful person. </p>



<br>
<br id="breducation">
<br>

<h1 id="education">Education</h1>

<img id="logoui" src="Logo UI.png" alt="LogoUI"> 

<p id="year">2018 - 2022 (expected)</p>

<p id="major">Majoring in Information System</p>
<p id="courses">Courses taken :<br> 
Introductions to Programming (Python, Java), Discrete Mathematics, Calculus, Basic Foundation of Computer Architecture.</p>

<br>
<br id="brexperience">
<br>

<h1 id="experience">Experience</h1>
<br>
<br>
<div class="row" id="exp">
      <div class="card h-100" id="exp-card">
        <img class="card-img-top" id="top-img" src="dpm_png.png" alt="Logo DPM FASILKOM UI">
        <div class="card-body">
          <h5 class="card-title">DPM FASILKOM UI</h5>
          <p class="card-text">Head of Secretary</p>
        </div>
    </div>

      <div class="card h-100" id="exp-card">
        <img class="card-img-top" id="top-img" src="compfestt.jpg" alt="Logo COMPFEST">
        <div class="card-body">
          <h5 class="card-title">COMPFEST</h5>
          <p class="card-text">Staff of Sponsorship</p>
        </div>

    </div>

      <div class="card h-100" id="exp-card">
         <img class="card-img-top" id="top-img" src="LogoKMBUI.png" alt="Logo KMBUI">
          
        <div class="card-body">
          <h5 class="card-title">KMBUI</h5>
           <p class="card-text">Staff of Creative Events</p>

        </div>  

   
    </div>

  </div>
  <br>
</div>

<br>
<br id="brskills">
<br>

<h1 id="skills">Skills</h1>

<br>
<br>

<div class="container">
  <div class="row" id="skill">

  	<div class="card2">
  <img src="HTML5-01.png" id="skill-container" alt="Logo HTML" style="width:280px;height:280px">
</div>

	<div class="card2">
  <img src="css3-01.png" id="skill-container" alt="Logo CSS" style="width:280px;height:280px">
</div>

	<div class="w-100"></div>

	<div class="card2">
  <img src="py.png" id="skill-container" alt="Logo Python" style="width:280px;height:280px">
</div>

	<div class="card2">
  <img src="java.png" id="skill-container" alt="Logo Java" style="width:280px;height:280px">
</div>

  </div>
</div>

<br>
<br id="brcontact">
<br>

<h1 id="contact">Contact</h1>

<br>
<br>
<br>
<br>

 <div class="row">
    <div class="col">
    	<a id="facebook" href="https://www.facebook.com/felicia.honggo" target="_blank"> <img src="facebook-3.svg" alt="Logo FB" style="width:30%" > </a>
    </div>
    <div class="col">
    	<a id="instagram" href="https://www.instagram.com/fel_hong/" target="_blank"> <img src="ig.png" alt="Logo IG" style="width:30%" > </a>
    </div>
    <div class="col">
    	<a id="linked in" href="https://www.linkedin.com/in/felicia-honggo-988684182" target="_blank"> <img src="linkedinn.png" alt="Logo Linked In" style="width:30%" > </a>
    </div>
     <div class="col">
     	<a id="twitter" href="https://twitter.com/Fel_Hong" target="_blank"> <img src="twt.png" alt="Logo Twitter" style="width:30%" > </a>
    </div>
  </div>


<br>
<br>
<br>
<br>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    


</body>
</html>