<!DOCTYPE html>
{% load static %}
<html>
<head>

<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-grid.css' %}">

</head>
<body>
	<div id="navbar">
<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #A88279;">
  <a class="navbar-brand" href="{% url 'homepage:website' %}">Felicia Honggo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">PROFILE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">EDUCATION</a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">EXPERIENCE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">SKILLS<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">CONTACT<span class="sr-only">(current)</span></a>
         <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:jadwal' %}">ISI JADWAL<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:jadwal_output' %}">LIHAT JADWAL<span class="sr-only">(current)</span></a>
      </li>
      </li>
    </ul>
  </div>
</nav>
</div>
{% block content %}
{% endblock %}
</body>
</html>