<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html>
<head>
<title>My Profile</title>
{% block content %}

<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-grid.css' %}">

</head>
<body>



<!-- <div id="navbar">
<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #A88279;">
  <a class="navbar-brand" href="{% url 'homepage:website' %}">Felicia Honggo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">PROFILE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">EDUCATION</a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">EXPERIENCE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">SKILLS<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">CONTACT<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active" id="nav">
        <a class="nav-link" href='homepage:jadwal_form'>JADWAL<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
</div> -->



<br>
<br>
<br>

<h1>My Gallery</h1>

<br>

<img id="fotogallery" src="{% static 'images/foto1.jpg' %}" alt="SMAK 6 Goes to UI">
<br>
<img id="fotogallery" src="{% static 'images/foto2.jpg' %}" alt="Foto Saya :)"> 
<br>
<img id="fotogallery" src="{% static 'images/foto3.jpg' %}" alt="Foto Saya :)"> 
<br>
<img id="fotogallery" src="{% static 'images/foto4.jpg' %}" alt="Foto Saya :)"> 
<br>
<img id="fotogallery" src="{% static 'images/foto5.jpg' %}" alt="Foto Saya :)"> 
<br>
<img id="fotogallery" src="{% static 'images/foto6.jpg' %}" alt="Foto Saya :)">
<br> 
<img id="fotogallery" src="{% static 'images/foto7.jpg' %}" alt="Foto Saya :)"> 
<br>
<img id="fotogallery" src="{% static 'images/foto8.jpg' %}" alt="Foto Saya :)"> 
<br>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>

{% endblock %}