<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
<head>
  {% block content %}
<!-- 
<link rel="stylesheet" href="{% static 'css/stylestory3.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-grid.css' %}">

</head>
<body>
	<div id="navbar">
<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #A88279;">
  <a class="navbar-brand" href="{% url 'homepage:website' %}">Felicia Honggo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">PROFILE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">EDUCATION</a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">EXPERIENCE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">SKILLS<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="nav">
        <a class="nav-link" href="{% url 'homepage:website' %}">CONTACT<span class="sr-only">(current)</span></a>
         <li class="nav-item active" id="nav">
        <a class="nav-link" href='homepage:jadwal_form'>ISI JADWAL<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active" id="nav">
        <a class="nav-link" href='homepage:jadwal_form_output'>LIHAT JADWAL<span class="sr-only">(current)</span></a>
      </li>
      </li>
    </ul>
  </div>
</nav>
</div> -->



<br>
<br>


    <br>
    <div id="title">
      <h1>Jadwal Form</h1>
      <form method='POST'> 
      	{% csrf_token %}
        {{ jadwal_form.as_p }}
        <button type='submit' class="save">Save</button>
      </form>
    </div>

   <!--  <br>
    <div id="title">
      <h1>Jadwal</h1>
    </div>
    <div class="container">
   {% for form in jadwal_form_output %}
      <div class="row">
        <div class="col-sm-4">
          Nama Kegiatan :
        </div>
        <div class="col-sm-6">
          {{form.namaKegiatan}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          Hari Tanggal (yyyy-mm-dd) :
        </div>
        <div class="col-sm-6">
          {{form.hariTanggal}} 
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
    Deskripsi Singkat :
        </div>
        <div class="col-sm-6">
          {{form.deskripsi}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          Tempat :
        </div>
        <div class="col-sm-6">
          {{form.tempat}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          Kategori :
        </div>
        <div class="col-sm-6">
          {{form.kategori}}
        </div>      
      </div>
      <br>
      <br>
    {% endfor %}
    </div> -->

</body>
</html>

{% endblock %}