{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <div id="title">
      <h1>Jadwal</h1>
    </div>
    <div class="container">
   {% for form in jadwal_form_outputs %}
      <div class="row">
        <div class="col-sm-4">
          Nama Kegiatan :
        </div>
        <div class="col-sm-6">
          {{ form.namaKegiatan }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
           Hari Tanggal (yyyy-mm-dd) :
        </div>
        <div class="col-sm-6">
          {{form.hariTanggal}} 
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
	  Deskripsi Singkat :
        </div>
        <div class="col-sm-6">
          {{form.deskripsi}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          Tempat :
        </div>
        <div class="col-sm-6">
          {{form.tempat}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          Kategori :
        </div>
        <div class="col-sm-6">
          {{form.kategori}}
        </div>      
      </div>
      <br>
      <br>
      <a href= "{% url 'homepage:delete' id=form.id %} "> <button type="submit">Hapus</button></a>
    {% endfor %}
    </div>
{% endblock %}
